:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landingContainer {
  padding: 1rem;
  background: rgb(200, 200, 200);
  background: linear-gradient(90deg, rgba(200, 200, 200, 1) 0%, rgba(237, 235, 235, 1) 100%);
}